.js-wrapper-autocomplete{
	margin-bottom: 1rem;
}
.js-wrapper-autocomplete .form-group{
	margin: 0;
}
.autocomplete-list {
	width: 100%;
	border: 1px solid red;
}
.autocomplete-list__item{
	border-top: 1px solid #0a73bb;
}
.autocomplete-list__item:first-child {
	border-top: none;
}
.autocomplete-list__item-data {
	padding: 7px 10px;
	cursor: pointer;
}
.autocomplete-list__item-data:hover {
	background-color: #eaeaea;
}